body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div {
  /*border: 1px solid black;*/
}
a {
  text-decoration: none;
  color: #9a9da0;
}
a:hover {
  color: azure;
}
.header a {
  margin: 10px 20px;
}
.navbar div {
  margin: 20px 10px;
}
.ava {
  width: 300px;
  margin: 15px 0;
}
.bg-dark {
  background-color: #343a40;
}
.bg-dark2 {
  background-color: #42484f;
}
.bg-dark3 {
  background-color: #72797f;
}
.bg-dark4 {
  background-color: #9a9da0;
}
.post-ava {
  width: 100px;
  border-radius: 50%;
}
.info {
  margin: 15px 0;
}